/* =================================================== */
/* Large devices (laptops/desktops) */
/* =================================================== */
@media only screen and (max-width: 1200px) {
    nav{
        padding: 5px 20px;
    }
   .container{
       padding: 0 20px;
   }
   section{
       padding: 50px 0;
   }
   /* hero */
   .hero .curve-wrapper{
    height: calc(100% - 150px);
   }
   .hero .curve{
        bottom: -150px;
        height: 150px;
    }
    .hero .image{
        width: 130px;
        height: 130px;
    }
    .hero h3{
        font-size: 1.4rem;
    }
    .hero h1{
        font-size: 45px;
    }
    .hero p{
        font-size: 0.9rem;
    }
    .hero a{
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
    }
    /* about me */
    .heading h1{
        font-size: 2.5rem;
    }
    .heading .line i{
        font-size: 10px;
    }
    .heading .line span{
        width: 90px;
        height: 4px;
    }
    /* skills */
    .skills,
    .experience{
        padding: 75px 20px;
    }
}

/* =================================================== */
/* Medium devices (landscape tablets) */
/* =================================================== */
@media only screen and (max-width: 993px) {
    .projects{
        padding: 75px 10px;
    }
    .skills .skill-wrapper .skill-bar.width-10{
        width: 10%;
    }
    .skills .skill-wrapper .skill-bar.width-20{
        width: 20%;
    }
    .skills .skill-wrapper .skill-bar.width-30{
        width: 30%;
    }
    .skills .skill-wrapper .skill-bar.width-40{
        width: 40%;
    }
    .skills .skill-wrapper .skill-bar.width-50{
        width: 50%;
    }
    .skills .skill-wrapper .skill-bar.width-60{
        width: 60%;
    }
    .skills .skill-wrapper .skill-bar.width-70{
        width: 70%;
    }
    .skills .skill-wrapper .skill-bar.width-80{
        width: 80%;
    }
    .skills .skill-wrapper .skill-bar.width-90{
        width: 90%;
    }
    .skills .skill-wrapper .skill-bar.width-100{
        width: 100%;
    }
}

/* =================================================== */
/* Small devices (portrait tablets and large phones) */
/* =================================================== */
@media only screen and (max-width: 768px) {
    /* hero */
    .hero .curve-wrapper{
        height: calc(100% - 100px);
    }
    .hero .curve{
        bottom: -100px;
        height: 100px;
    }
    .hero .content{
        width: calc(100% - 2rem);
    }
   .hero .image{
       width: 120px;
       height: 120px;
   }
   .hero p{
       max-width: 600px;
       margin: auto;
       margin-bottom: 10px;
   }
   /* about me */
   .heading h1{
       font-size: 2.2rem;
   }
   .heading .line i{
       font-size: 8px;
   }
   .heading .line span{
       height: 3px;
   }
   .about-me .image{
       width: 50%;
   }
   .about-me .content{
       padding: 0 20px;
   }
   .about-me p{
       font-size: 0.9rem;
   }
   /* skills */
   .skills,
   .experience{
       padding: 50px 10px;
   }
   .skills h4{
       font-size: 1.2rem;
   }
   .skills p{
       margin-bottom: 3rem;
       font-size: 0.9rem;
   }
   .skills .skill-wrapper .domain{
       font-size: 0.9rem;
   }
   /* certificated */
   .certificates .certs{
       justify-content: flex-start;
   }
   .certificates .card{
       width: 100% !important;
       min-width: initial;
       max-width: initial;
       min-height: initial;
       flex-grow: 1;
       margin: 0.5rem 0;
   }
   /* experience */
    .experience .margin-top{
        margin-top: 20px;
    }
    .experience .image{
        width: 80px;
        height: 80px;
        padding: 0.5rem;
    }
    .experience .job-title .company{
        font-size: 1.3rem;
    }
    .experience .job-title .job{
        font-size: 0.9rem;
    }
    .experience .job-title .duration{
        font-size: 0.7rem;
    }
    /* achievement */
    .achievement-image{
        display: none;
    }
    .achievement-slider-wrapper .slick-track{
        padding-top: 50px;
    }
    .achievement-slider-wrapper{
        margin-left: 0 !important;
    }
    .achievement-slider-wrapper .card .image{
        max-height: 100px;
    }
    .achievement-slider-wrapper .card .image img{
        max-height: 100px;
    }
    .achievement-slider-wrapper .card{
        padding: 1rem;
        padding-top: calc(50px + 1rem) !important;
    }
    .achievement-slider-wrapper .description{
        font-size: 0.8rem;
    }
    .achievement-slider-wrapper .slider-btns{
        transform: translateX(-50%);
    }
    /* contact */
    .contact{
        margin-top: 100px;
    }
    .contact .logo{
        max-width: 250px;
    }
    .contact .contact-me h5{
        font-size: 1.2rem;
        border-bottom: none;
    }
    .contact-me p{
        font-size: 0.8rem;
    }
}

/* =================================================== */
/* Extra small devices (phones) */
/* =================================================== */
@media only screen and (max-width: 600px) {
    section{
        padding: 50px 0;
    }
    .about-me .image{
        width: 70%;
    }
    .about-me{
        padding: 20px 0 !important;
    }
    .projects{
        padding: 30px 0 !important;
    }
    .projects .project-slider-wrapper .slider-btns{
        top: calc(50% + 30px);
    }
    .projects .slick-track{
        padding-top: 50px;
        padding-bottom: 0 !important;
    }
    .projects .slick-slide{
        margin-bottom: 10px !important;
    }
}
@media only screen and (max-width: 500px) {
    /* hero */
    .hero .curve-wrapper{
        height: calc(100% - 70px);
    }
    .hero .curve{
        bottom: -70px;
        height: 70px;
    }
    .hero .content{
        width: calc(100% - 50px);
    }
    .hero h1{
        font-size: 35px;
    }
    .hero h3{
        font-size: 1.2rem;
    }
    .hero p{
        font-size: 0.8rem;
    }
    /* about me */
    .about-me .content{
        padding: 0 10px;
    }
    /* experience */
    .experience .card{
        padding: 1.5rem;
    }
    /* contact */
    .contact .contact-me{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact .contact-me h5{
        margin: 0;
    }
    .contact .contact-me .mail{
        margin-top: 1rem;
    }
    /* footer */
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}