nav{
    /* border: 1px solid; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    filter: invert(1);
    transition: background 0.2s ease, box-shadow 0.5s ease;
    padding: 5px 0;
}
nav.invert{
    filter: invert(0);
    background: white;
    box-shadow: var(--box-shadow2);
}
nav .container,
nav .container-fluid{
    display: flex;
    height: 60px;
    position: relative;
    padding: 0 !important;
}

nav .logo-container{
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 250px;
}
nav .logo-container img{
    height: 100%;
}

nav .nav-btn{
    flex: 3;
    display: flex;
    justify-content: flex-end;
}
nav .log-sign{
    flex: 1;
}
nav .nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-link{
    position: relative;
    margin: 0 !important;
}
nav .nav-link > a,
nav .nav-link > label{
    line-height: 3rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 0;
    padding-left: 0.8rem;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s linear;
    cursor: pointer;
}
nav .nav-link > a > i{
    margin-left: 0.2rem;
    color: var(--primary-color);
}
nav .nav-link:hover > a{
    transform: scale(1.1);
}
nav .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    /* customizable */
    background: white;
    box-shadow: var(--box-shadow);
}
nav .dropdown ul{
    position: relative;

}
nav .dropdown-link{
    position: relative;
}
nav .dropdown-link:not(:nth-last-child(1)){
    border-bottom: 1px solid #efefef;
}
nav .dropdown-link:hover{
    background: var(--black-color3);
}
nav .dropdown-link:hover > a{
    color: var(--white-color);
    padding-left: 1.5rem;
}
nav .dropdown-link:first-child:hover ~ .arrow{
    background: var(--black-color3) !important;
}
nav .dropdown-link > a,
nav .dropdown-link > label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 0.3s;
    /* customizable */
    color: var(--black-color2);
    padding: 0.5rem 1rem;
    font-size: .9rem;
}
nav .dropdown-link i{
    transform: rotate(-90deg);
}
nav .arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background: var(--white-color);
    transform: rotate(45deg);
}
nav .dropdown.second{
    top: 0;
    left: 100%;
    /* padding-left: 0.8rem; */
    cursor: pointer;
    transform: translateX(10px);
    /* customizable */
}
nav .dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}
nav .nav-link:hover > .dropdown,
nav .dropdown-link:hover > .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}

/* hamburger menu */
nav .hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
nav .hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background: var(--primary-color);
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}
nav .hamburger-menu div:before,
nav .hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: var(--primary-color);
    border-radius: 3px;
    transition: 0.5s;
}
nav .hamburger-menu div:before{
    transform: translateY(-7px);
}
nav .hamburger-menu div:after{
    transform: translateY(7px);
}
#toggle{
    position: absolute;
    top: 50%;
    right: 15px; /*padding of .container class*/
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 9000;
    opacity: 0;
    display: none;
}
#toggle:checked ~ .hamburger-menu-container .hamburger-menu div{
    background: transparent !important;
}
#toggle:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}
#toggle:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

nav .show, nav input[id^=btn]{
    display: none !important;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{     
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsive design */
@media only screen and (max-width: 920px){
    nav .logo-container img{
        height: 70%;
    }
    nav .hamburger-menu-container{
        display: flex;
    }
    nav #toggle{
        display: block;
        cursor: pointer;
    }
    nav .show{
        display:  flex !important;
    }
    nav .hide{
        display: none !important;
    }
    nav .nav-btn{
        position: fixed;
        height: calc(100vh - 60px);
        top: 70px;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0.65s;
    }
    #toggle:checked ~ .nav-btn{
        transform: translateX(0);
    }
    #toggle:checked ~ .nav-btn .nav-link,
    #toggle:checked ~ .nav-btn .log-sign{
        animation: appear 0.5s ease forwards var(--i);
    }
    nav  .nav-links{
        flex: initial;
        width: 100%;
    }
    nav .nav-links > ul{
        flex-direction: column;
    }
    nav .nav-link{
        width: 100%;
        padding: 0 !important;
        opacity: 0;
        transform: translateY(15px);
    }
    nav .nav-link > a,
    nav .nav-link > label{
        line-height: 1;
        padding: 1rem 2rem;
        color: var(--white-color);
    }
    nav .nav-link.first-link{
        margin-top: 20px !important;
    }
    nav .nav-link:hover > a,
    nav .nav-link:hover > label{
        transform: scale(1);
        background: var(--secondary-color);
    }
    nav .dropdown, nav .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: -10px !important;
        background: var(--black-color4);
        box-shadow: none;
        display: none;
    }
    nav .nav-link [id^=btn]:checked ~ .dropdown,
    nav .dropdown-link [id^=btn]:checked ~ .dropdown{
        display: block;
    }
    nav .nav-link:hover > label > i,
    nav .dropdown-link:hover > label > i{
        transform: rotate(360deg) !important;
    }
    nav .dropdown-link > a,
    nav .dropdown-link > label{
        background: transparent;
        color: var(--white-color);
        padding: 1.2rem 2rem;
    }
    nav .dropdown.second .dropdown-link > a{
        padding-left: 3rem;
    }
    nav .dropdown-link:not(:nth-last-child(1)){
        border-bottom: none;
    }
    nav .arrow{
        z-index: 1;
        background: var(--black-color4);
        left: 10%;
        transform: scale(1.1) rotate(45deg);
    }
    nav .dropdown .dropdown .arrow{
        display: none;
    }
    nav .dropdown .dropdown-link:hover > a{
        background: rgb(80, 81, 81);
    }
    nav .dropdown-link:first-child:hover ~ .arrow{
        background: rgb(80, 81, 81) !important;
    }
    nav .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg) !important;
        transition: 0.7s;
    }
    nav .dropdown i{
        font-size: 1rem;
        transition: 0.7s;
    }
    nav .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
    nav .btn{
        filter: invert(1);
    }
}